GCLOUD_PROJECT="${GCLOUD_PROJECT:-YOUR-PROJECT-HERE}"
K8S_CLUSTER="${K8S_CLUSTER:-my-cluster}"
GCLOUD_ZONE="${GCLOUD_ZONE:-europe-west2-a}"
K8S_VERSION="${K8S_VERSION:-1.14}"
GCLOUD_MACHINE_TYPE="${GCLOUD_MACHINE_TYPE:-n1-standard-1}"
GCLOUD_IMAGE_TYPE="${GCLOUD_IMAGE_TYPE:-COS}"
GCLOUD_DISK_SIZE="${GCLOUD_DISK_SIZE:-50}"
GCLOUD_SCOPES="gke-default"
GCLOUD_NUM_NODES="${GCLOUD_NUM_NODES:-3}"
GCLOUD_MIN_NODES="${GCLOUD_MIN_NODES:-2}"
GCLOUD_MAX_NODES="${GCLOUD_MAX_NODES:-6}"
LICENSE_KEY="${LICENSE_KEY:-my-license-key}"
# When setting DISK_NAME make sure to update ./nfs-volumes/nfs-volume-deployment.yaml as well. 
DISK_NAME="${DISK_NAME:-my-disk}"
